* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: .5rem;
  padding-bottom: 0;
}

.container h1 {
  text-align: center;
  margin-bottom: 1rem;
}

h2,
.input-group,
.input-group div:not(:last-child),
button,
.form-produto,
.form-produto div:not(:last-child),
.result,
.result li:not(:last-child) {
  margin-bottom: .5rem;
}

label, input[type="radio"] { cursor: pointer }

input {
  font-size: 1rem;
}

button {
  padding: .5rem;
  font-size: 1rem;
  cursor: pointer;
}

.form-produto div,
.result li {
  display: flex;
  justify-content: space-between;
}

.form-produto div input {
  padding: 0 .5rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: .3rem;
  outline: 0;
}

.form-produto div input:focus { outline: 1px solid black }

.form-produto div label { line-height: 2rem }

.result {
  list-style: none;
  padding: 0 2rem;
}

#btnCalculate { width: 100% }
